@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.jolly-lodger-regular {
    font-family: "Jolly Lodger", system-ui;
    font-weight: 400;
    font-style: normal;
}